# Игнорируем папку !git
!git/

# Игнорируем все папки node_modules в любой вложенности
node_modules/

# Игнорируем файлы переменных окружения (ОЧЕНЬ ВАЖНО)
.env

# Игнорируем системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Игнорируем логи npm
npm-debug.log*